.header--wrapper {
  font-family: 'Inter';
  header {
    .header--inner {
      // display: flex;
      // align-items: center;
      // flex
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      margin: auto;
      max-width: 1200px;
      padding-inline-end: 40px;
      padding-inline-start: 40px;

      &.light-mode {
        background-color: #fff;
        color: #1b263b;
      }
      @include breakpoint-down(xs) {
        padding-inline-end: 20px;
        padding-inline-start: 20px;
      }
      // @include breakpoint-custom-down(1200) {
      //   height: 80px;
      //   padding-inline-end: 40px;
      //   padding-inline-start: 40px;
      // }
      .header--list--item {
        list-style: none;
        list-style-type: none;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        color: #fff;
        margin: 0px 15px;
        padding: 7px;
        border-radius: 11px;
        transition: background 0.5s ease;
        &:hover {
          background: #324153;
        }
        &.light-mode {
          background-color: #fff;
          color: #1b263b;
        }
      }
      .header--logo {
        .logo--wrapper {
          img {
            display: block;
            height: 100%;
            max-width: 13rem;
            text-indent: -1000em;
            width: 100%;
          }
        }
      }
      .header--menu {
        @include breakpoint-custom-down(890) {
          display: none;
        }
        .header--menu__inner {
          display: flex;
          flex-direction: row;

          .menu--list {
          }
        }
      }
      .header--auth--buttons {
        display: flex;
        align-items: center;
        .login {
          margin: 0 15px;
          @include breakpoint-down(sm) {
            display: none;
          }
        }
        .sign-up {
          @include breakpoint-down(sm) {
            display: none;
          }
          button {
            padding: 5px 30px;
            background: #415a77;
            border-radius: 30px;
            border: none;
            outline: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 27px;
            color: #fff;
            transition: background 0.3s ease;
            &:hover {
              background: #324153;
            }
          }
        }
      }
    }
  }

  // hamburger
  .hamburger {
    cursor: pointer;
    display: none;
    margin-left: 15px;
    height: 100%;
    @include breakpoint-custom-down(890) {
      display: block;
    }

    .line {
      width: 27px;
      height: 3px;
      background-color: #fff;
      display: block;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      margin: 6px auto;
      &.light-mode {
        background-color: #1b263b;
      }
    }
    &.open {
      span {
        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
}
