.footer-container {
  background: #0d1b2a;
  p,
  ul {
    color: #fff;
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
  }

  .footer--inner {
    width: 1400px;
    margin: 0 auto;
    .footer-inner--wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2rem;
    }
  }
  .footer-part {
    flex: 1 1 22%; /* Flex-grow, flex-shrink, flex-basis */
    margin: 0 1rem;
    font-family: 'Inter';
    // &:first-child{
    //     flex: 1 1 35%;
    // }
    &:nth-child(2) {
      text-align: center;
    }
    // &:nth-child(3){
    //     flex: 1 1 10%;

    // }
    //  &:nth-child(4){
    //     flex: 1 1 35%;

    // }

    h3 {
      margin-bottom: 1rem;
      font-size: 23px;
      color: #fff;
      font-weight: 700;
      line-height: 40px;
      &:nth-child(2) {
        text-align: center;
      }
    }

    p,
    ul {
      color: #fff;
      line-height: 30px;
      font-size: 15px;
      font-weight: 400;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          transition: color 0.3s;
          &:visited {
            color: #fff;
          }
          &:hover {
            color: #0056b3;
          }
        }
      }
    }
  }

  .social-media {
    .social-icons {
      display: flex;

      a {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 3rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .footer--line {
    border: 0.5px solid #ffffff;
  }
  .bottom--footer {
    margin: 2rem 0;
    text-align: center;
  }
}

/* Responsive Design */
// @media (max-width: 768px) {
//   .footer-part {
//     flex: 1 1 100%; /* Full width for smaller screens */
//     text-align: center;
//   }

//   .social-icons {
//     justify-content: center;
//   }
// }
