.landing--page--container {
  .landing--page--inner {
    background: conic-gradient(
      from 132.57deg at 58.04% 62.79%,
      #166bc6 0deg,
      #0d1b2a 196.2deg,
      #166bc6 360deg
    );
    height: 1024px;
  }
  .main--head--text--wrapper {
    margin: auto;
    max-width: 2520px;
    color: #fff;
    .head--text--innner {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 5rem 10px 2rem;
      .head--text--content {
        h2 {
          font-family: "Inter";
          font-weight: 700;
          font-size: 48px;
          text-align: center;
        }
      }
      .sub--head--text {
        p {
          font-size: 24px;
          line-height: 36px;
          font-weight: 400;
        }
      }
    }
  }
}
