.landing--page--container .main--head--button--wrapper button {
  padding: 10px 30px;
  background: #415a77;
  outline: none;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #fff;
}
.landing--page--container .image--inner--wrapper {
  padding-inline-end: 40px;
  padding-inline-start: 40px;
  max-width: 1400px;
  margin: 0 auto;
}
.landing--page--container .image--inner--wrapper.platfrom {
  padding-top: 60px;
  padding-bottom: 60px;
}
.landing--page--container .image--inner--wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.landing--page--container .landing--page--inner {
  background: conic-gradient(from 132.57deg at 58.04% 62.79%, #166bc6 0deg, #0d1b2a 196.2deg, #166bc6 360deg);
}
.landing--page--container .main--head--text--wrapper {
  margin: auto;
  color: #fff;
}
.landing--page--container .main--head--text--wrapper .head--text--innner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem 10px 6rem;
}
.landing--page--container .main--head--text--wrapper .head--text--innner .head--text--content h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.landing--page--container .main--head--text--wrapper .head--text--innner .sub--head--text {
  margin-bottom: 2rem;
}
.landing--page--container .main--head--text--wrapper .head--text--innner .sub--head--text p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}
.landing--page--container .section {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.landing--page--container .section .landing--header {
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  line-height: 48px;
  color: #1b263b;
}
.landing--page--container .section .landing--subtext {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: #1b263b;
  text-align: center;
}
.landing--page--container .info--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}
.landing--page--container .info--container .left--info {
  flex: 1;
  max-width: 500px;
  padding: 1rem;
}
.landing--page--container .info--container .left--info h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: #1b263b;
  margin-bottom: 1rem;
}
.landing--page--container .info--container .left--info p {
  margin-bottom: 1.5rem;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #1b263b;
}
.landing--page--container .info--container .image {
  flex: 1;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
}
.landing--page--container .info--container .image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing--page--container .works--conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0rem;
}
.landing--page--container .explore--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0rem;
}
.landing--page--container .outer-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: flex-start;
  justify-content: center;
  border: 1px;
  align-items: stretch;
  gap: 2rem;
}
.landing--page--container .outer-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9;
  gap: 1rem;
  flex: 0.35;
}
.landing--page--container .outer-container .container:first-child {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
}
.landing--page--container .outer-container .container:nth-child(2) {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0;
}
.landing--page--container .outer-container .container .content:first-child {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.landing--page--container .outer-container .container .content:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.landing--page--container .outer-container .container .content h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #1b263b;
  margin-bottom: 0.5rem;
}
.landing--page--container .outer-container .container .content p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  color: #1b263b;
}
.landing--page--container .outer-container .container .image img {
  width: 100%;
  height: auto;
  max-width: 300px; /* Adjust as needed */
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing--page--container .platform--image--wrapper {
  background: rgba(217, 217, 217, 0.5019607843);
}
.landing--page--container .testimony-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto; /* Center the container on the page */
  gap: 2rem;
}
.landing--page--container .testimony-container .image-container {
  flex: 0 0 45%; /* Take up 45% of the container width */
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing--page--container .testimony-container .image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing--page--container .testimony-container .text-container {
  flex: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing--page--container .testimony-container .text-container .quote--marks {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
}
.landing--page--container .testimony-container .text-container .quote--marks::before {
  color: #1b263b;
  padding-bottom: 2rem;
}
.landing--page--container .testimony-container .text-container .quote--marks::after {
  padding-top: 2rem;
  color: #1b263b;
}
.landing--page--container .testimony-container .text-container .user-name {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 3rem; /* Space between name and carousel arrows */
  font-size: 18px;
  line-height: 48px;
}
.landing--page--container .testimony-container .text-container .carousel-arrows {
  display: flex;
  gap: 1rem;
}
.landing--page--container .testimony-container .text-container .carousel-arrows .arrow-left,
.landing--page--container .testimony-container .text-container .carousel-arrows .arrow-right {
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}/*# sourceMappingURL=index.css.map */